/* COMMON */
.back_black{
    background-color: black;
    height:30px;
}
.my_fixed{
    z-index: 1;
}
.logo{
    /* margin:10px 10px; */
    height:20px;
}
.my_btn{
    text-decoration: none;
    padding:10px  15px;
    border-radius: 25px;
}
.btn_red{
    background-color: red;
    color: white;
    border:1px solid red;
}
.btn_Blue{
    background-color: #2d64e6;
    color: white;
    border:1px solid #2d64e6;
}

/* nav */
nav{
    height:60px ;
    background-color: white;
}
.menus_container{
    line-height: 60px;
}
.menu_main li{
    width: 80px;
    margin-right:30px;
    list-style: none;
    display: inline-block;
}
.menu_main li a{
    text-decoration: none;
    color: black;
}
.menu_right li{
    list-style: none;
    display: inline-block;
}
.menu_main li a{
    text-decoration: none;
}
.chevron_link{
    max-width: 15px;
    margin-left: 5px;
}
.chevron_link_hover{
    display:none;
    max-width: 15px;
    margin-left: 5px;
    background-color: brown;
}
.chevron_link 
.menu_main li a:hover  
{
    display: none;
}
.chevron_link_hover 
.menu_main li a:hover  
{
    display: inline;
}
/* JUMBOTRON */
.jumbotron{
    margin-top: 90px;
    width: 100%;
    height:800px;
    background-image: url("../img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;   
}
.jumbo_position{
    color: white;
    margin: 0 auto;
    width:90%;
    height: 700px;
}
.jumbo_img img{
    width:300px;
}
.jumbo_title{
    margin:30px 0;
}
.jumbo_title h3{
    font-size: 60px;
}
.jumbo_description{
    margin:30px 0;
}
.jumbo_description p{
    font-size: 25px;
}
.gallery{
    display: inline-block;
    border-radius: 25px;
    padding: 5px;
}
.gallery:active , 
.gallery:visited {
    border: 2px solid #2d64e6;
}
.gallery img{
    border-radius: 25px;
    width: 100%;
}
.content_img img{
    width:80%;
}
/* CONTENT */
.img_link{
    max-height: 300px;
}
.img_link img{
    width: 100%;
}