/* COMMON */
.back_black{
    background-color: black;
    height:40px;
}
.my_fixed{
    z-index: 1;
}

.my_btn{
    text-decoration: none;
    padding:8px  15px;
    border-radius: 25px;
    color: white !important;
}
.btn_red{
    background-color: red;
    border:1px solid red;
}
.btn_blue{
    background-color: #2d64e6;
    border:1px solid #2d64e6;
}
.btn_black{
    background-color: black;
    border:1px solid black;
}
/* HEADER */
.logo{
    margin:5px 5px;
}
.logo img{
    /* margin:10px 10px; */
    height:20px;

}
/* nav */
nav{
    height:60px ;
    background-color: white;
}
.menus_container{
    line-height: 60px;
}
.menu_main li ,
.menu_right li{
    /* max-width: 150px; */
    margin-right:5px;
    list-style: none;
    display: inline-block;
}
.menu_main li a , 
.menu_right li a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.chevron_link{
    width: 18px;
    margin-left: 5px;
}
.my_hover{
    display:none;
}

.menu_main  a:hover > .my_hover_up ,
 .menu_right  a:hover > .my_hover_up{
    display: none;
}

.menu_main  a:hover > .my_hover ,
 .menu_right  a:hover > .my_hover{
    display: inline;  
}
.burger_menu{
text-align: right;
margin-right: 20px;
}
.search_lens{
    height:25px;
}
/* JUMBOTRON */
.jumbotron{
    margin-top: 100px;
    width: 100%;
    height:800px;
    background-image: url("../img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;   
}
.jumbo_position{
    color: white;
    margin: 0 auto;
    width:90%;
    height: 700px;
}
.jumbo_img img{
    width:300px;
}
.jumbo_title{
    margin:30px 0;
}
.jumbo_title h3{
    font-size: 60px;
}
.jumbo_description{
    margin:30px 0;
}
.jumbo_description p{
    font-size: 25px;
}
.gallery{
    display: inline-block;
    border-radius: 25px;
    padding: 5px;
}
.gallery:active , 
.gallery:visited {
    border: 2px solid #2d64e6;
}
.gallery img{
    border-radius: 25px;
    width: 100%;
}
.content_img img{
    width:80%;
}
/* CONTENT */
.img_link{
    max-height: 300px;
}
.img_link img{
    width: 100%;
}